body{  
    display: flex;
    justify-content: center;
}


.container{
    display: grid;
    width: 800px;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 32px;    
}


.imagem{
    width: 220px;
    height: 180px;
    border: solid px black;
    box-shadow: 2px 2px 8px black;
}